.contact {
    margin: 60px 0;
}
.contact-container {
    max-width: 1100px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: #363953;
    box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
    border-radius: 0.5rem;
    overflow: hidden;
}
.form-container {
    padding: 20px;
}
.form-container h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.contact-form {
    display: grid;
    row-gap: 1rem;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    outline: none;
    background: #2c2f48;
    padding: 10px;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 0.4rem;
}
.contact-form textarea {
    resize: none;
    height: 200px;
}
.contact-form .send-button {
    border: none;
    outline: none;
    background: #00dbde;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.contact-form .send-button:hover {
    background: hsl(181, 100%, 44%, 0.8);
    transition: 0.3s all linear;
}
.map iframe {
    width: 100%;
    height: 100%;
}
@media (max-width: 964px) {
    .contact-container {
        margin: 0 auto;
        width: 90%;
    }
}
@media (max-width: 400px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 20rem !important;
    }
    .map {
        height: 400px;
    }
}
